<!DOCTYPE HTML>
<html>

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Template 3
	</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Free HTML5 Website Template by freehtml5.co" />

	<meta property="og:title" content="" />
	<meta property="og:image" content="" />
	<meta property="og:url" content="" />
	<meta property="og:site_name" content="" />
	<meta property="og:description" content="" />
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	<link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
	<link href="https://fonts.googleapis.com/css?family=Cormorant+Garamond:300,300i,400,400i,500,600i,700"
		rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">


	<!-- Animate.css -->
	<link rel="stylesheet" href="css/animate.css">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="css/icomoon.css">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="css/bootstrap.css">

	<!-- Flexslider  -->
	<link rel="stylesheet" href="css/flexslider.css">

	<!-- Theme style  -->
	<link rel="stylesheet" href="css/style.css">

	<!-- Modernizr JS -->
	<script src="js/modernizr-2.6.2.min.js"></script>

	<script src="https://unpkg.com/vue@3.0.2"></script>

</head>

<body id="app">

	<div class="fh5co-loader"></div>

	<div id="page">
		<nav class="fh5co-nav" role="navigation">
			<!-- <div class="top-menu"> -->
			<div class="container">
				<div class="row">
					<div class="col-xs-12 text-center logo-wrap">
						<button
							style="background-color: #f9a826; margin-top: 10px; color: white; border: none; padding: 10px 20px; border-radius: 5px; margin-right: 20px;"
							@click="saveChanges">
							Save Changes
						</button>
						<div v-if="isSuccess" id="successMessage"
							style="position: fixed; z-index: 20; border-radius: 10; color: white; top: 0; left: 50%; background: #05f318; transform: translateX(-50%); width: 20%;  text-align: center; padding: 10px;"
							class="success-message">
							<i class="fa fa-check"></i>
							{{ isSuccess }}
						</div>

						<div v-if="isLoading" id="loadingMessage" class="loading-message"
							style="position: fixed; z-index: 20; border-radius: 10; top: 0;  color: white; left: 50%; background: #e2e60f; transform: translateX(-50%); width: 20%;  text-align: center; padding: 10px;">
							<i class="fa fa-spinner fa-spin"></i>
							{{ isLoading }}
						</div>

						<div v-if="isError" id="errorMessage" class="error-message"
							style="position: fixed; z-index: 20; border-radius: 10; top: 0;  color: white; left: 50%; background: #f00505; transform: translateX(-50%); width: 20%;  text-align: center; padding: 10px;">

							<i class="fa fa-times"></i>
							{{ isError }}
						</div>
						<div id="fh5co-logo"><a href="index.html">
								{{title}}
								<span>.</span></a></div>
					</div>
					<div class="col-xs-12 text-center menu-1 menu-wrap">
						<ul>
							<li><a href="index.html">Home</a></li>
							<li class="has-dropdown active">
								<a href="gallery.html">Gallery</a>

							</li>
							<li><a href="reservation.html">Reservation</a></li>
							<li><a href="about.html">About</a></li>
							<li><a href="contact.html">Contact</a></li>
						</ul>
					</div>
				</div>

			</div>
			<!-- </div> -->
		</nav>

		<header id="fh5co-header" class="fh5co-cover js-fullheight" role="banner"
			:style="{ backgroundImage: `url(${galleryHeaderImage})` }" data-stellar-background-ratio="0.5">
			<div class="overlay"></div>
			<div class="container">
				<div class="row">
					<div class="col-md-12 text-center">
						<div class="display-t js-fullheight">
							<div class="display-tc js-fullheight animate-box" data-animate-effect="fadeIn">
								<h1 v-if="!isEditingGalleryHeaderTitle" @click="editClickGalleryHeaderTitle">
									{{galleryHeaderTitle}}
								</h1>
								<input
									style="background-color: white; color: black;  border: none; padding: 10px 20px;width: 40%; border-radius: 5px;"
									v-if="isEditingGalleryHeaderTitle" v-model="editGalleryHeaderTitle"
									@keyup.enter="updateGalleryHeaderTitle" />
								<div>
									<button
										style="background-color: #f9a826; margin-top: 10px; color: white; border: none; padding: 10px 20px; border-radius: 5px;"
										@click="triggerGalleryHeaderImageUpload">
										Upload Image
										<i class="fa fa-upload"></i>
									</button>
									<input type="file" ref="galleryHeaderImage"
										@change="uploadSingleImage($event, 'galleryHeaderImage')"
										style="display: none;" />
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</header>


		<div id="fh5co-gallery" class="fh5co-section">
			<div class="container">
				<div class="row">
					<div class="col-md-12 fh5co-heading animate-box">
						<h2>Our Gallery</h2>
						<div class="row">
							<div class="col-md-6">
								<p v-if="!isEditingGalleryDescription" @click="editClickGalleryDescription">
									{{galleryDescription}}
								
								</p><div
									style="display: flex; flex-direction: column; justify-content: space-between; align-items: center; margin-top: 20px;">
								
								
									<div>
										<textarea cols="100" rows="7"
											style="background-color: white; color: black;  border: none; padding: 10px 20px;width: 100%; border-radius: 5px;"
											v-if="isEditingGalleryDescription" v-model="editGalleryDescription" @keyup.enter="updateGalleryDescription">
								
																							</textarea>
									</div>
								
									<p><a href="#" class="btn btn-primary btn-outline">Our History</a></p>
								</div>
							</div>
						</div>
					</div>
					<label
						style=" padding: 10px; color: white; text-align: center; font-weight: 600; display: flex;  align-items: center;">
						Upload First Five images:
						<input
							style="background-color: white; border: none; padding: 10px 20px; border-radius: 5px; width: 100%;"
							type="file" id="files" name="files[]" multiple @change="handleFileChangeFirstFive" />
					</label>

					<div>
						<div class="col-md-3 col-sm-3 fh5co-gallery_item">
							<div class="fh5co-bg-img" :style="{ backgroundImage: `url(${galleryFirstFiveImages[0]})` }"
								data-trigger="zoomerang"></div>
							<div class="fh5co-bg-img" :style="{ backgroundImage: `url(${galleryFirstFiveImages[1]})` }"
								data-trigger="zoomerang"></div>
						</div>
						<div class="col-md-6 col-sm-6 fh5co-gallery_item">
							<div class="fh5co-bg-img fh5co-gallery_big"
								:style="{ backgroundImage: `url(${galleryFirstFiveImages[2]})` }"
								data-trigger="zoomerang"></div>
						</div>
						<div class="col-md-3 col-sm-3 fh5co-gallery_item">
							<div class="fh5co-bg-img" :style="{ backgroundImage: `url(${galleryFirstFiveImages[3]})` }"
								data-trigger="zoomerang"></div>
							<div class="fh5co-bg-img" :style="{ backgroundImage: `url(${galleryFirstFiveImages[4]})` }"
								data-trigger="zoomerang"></div>
						</div>
					</div>

					<label
						style=" padding: 10px; color: white; text-align: center; font-weight: 600; display: flex;  align-items: center;">
						Upload Next Five images:
						<input
							style="background-color: white; border: none; padding: 10px 20px; border-radius: 5px; width: 100%;"
							type="file" id="files" name="files[]" multiple @change="handleFileChangeSecondFive" />
					</label>
					<div>
						<div class="col-md-3 col-sm-3 fh5co-gallery_item">

							<div class="fh5co-bg-img" :style="{ backgroundImage: `url(${gallerySecondFiveImages[0]})` }"
								data-trigger="zoomerang"></div>
							<div class="fh5co-bg-img" :style="{ backgroundImage: `url(${gallerySecondFiveImages[1]})` }"
								data-trigger="zoomerang"></div>
						</div>
						<div class="col-md-3 col-sm-3 fh5co-gallery_item">
							<div class="fh5co-bg-img" :style="{ backgroundImage: `url(${gallerySecondFiveImages[2]})` }"
								data-trigger="zoomerang"></div>
							<div class="fh5co-bg-img" :style="{ backgroundImage: `url(${gallerySecondFiveImages[3]})` }"
								data-trigger="zoomerang"></div>
						</div>
						<div class="col-md-6 col-sm-6 fh5co-gallery_item">
							<div class="fh5co-bg-img fh5co-gallery_big"
								:style="{ backgroundImage: `url(${gallerySecondFiveImages[4]})` }"
								data-trigger="zoomerang"></div>
						</div>
					</div>
					<label
						style=" padding: 10px; color: white; text-align: center; font-weight: 600; display: flex;  align-items: center;">
						Upload Next Five images:
						<input
							style="background-color: white; border: none; padding: 10px 20px; border-radius: 5px; width: 100%;"
							type="file" id="files" name="files[]" multiple @change="handleFileChangeThirdFive" />
					</label>
					<div>
						<div class="col-md-3 col-sm-3 fh5co-gallery_item">
							<div class="fh5co-bg-img" :style="{ backgroundImage: `url(${galleryThirdFiveImages[0]})` }"
								data-trigger="zoomerang"></div>
							<div class="fh5co-bg-img" :style="{ backgroundImage: `url(${galleryThirdFiveImages[1]})` }"
								data-trigger="zoomerang"></div>
						</div>
						<div class="col-md-6 col-sm-6 fh5co-gallery_item">
							<div class="fh5co-bg-img fh5co-gallery_big"
								:style="{ backgroundImage: `url(${galleryThirdFiveImages[2]})` }"
								data-trigger="zoomerang"></div>
						</div>
						<div class="col-md-3 col-sm-3 fh5co-gallery_item">
							<div class="fh5co-bg-img" :style="{ backgroundImage: `url(${galleryThirdFiveImages[3]})` }"
								data-trigger="zoomerang"></div>
							<div class="fh5co-bg-img" :style="{ backgroundImage: `url(${galleryThirdFiveImages[4]})` }"
								data-trigger="zoomerang"></div>
						</div>
					</div>
					<label
						style=" padding: 10px; color: white; text-align: center; font-weight: 600; display: flex;  align-items: center;">
						Upload Next Five images:
						<input
							style="background-color: white; border: none; padding: 10px 20px; border-radius: 5px; width: 100%;"
							type="file" id="files" name="files[]" multiple @change="handleFileChangeFourthFive" />
					</label>
					<div>
						<div class="col-md-3 col-sm-3 fh5co-gallery_item">
							<div class="fh5co-bg-img" :style="{ backgroundImage: `url(${galleryFourthFiveImages[0]})` }"
								data-trigger="zoomerang"></div>
							<div class="fh5co-bg-img" :style="{ backgroundImage: `url(${galleryFourthFiveImages[1]})` }"
								data-trigger="zoomerang"></div>
						</div>
						<div class="col-md-3 col-sm-3 fh5co-gallery_item">
							<div class="fh5co-bg-img" :style="{ backgroundImage: `url(${galleryFourthFiveImages[2]})` }"
								data-trigger="zoomerang"></div>
							<div class="fh5co-bg-img" :style="{ backgroundImage: `url(${galleryFourthFiveImages[3]})` }"
								data-trigger="zoomerang"></div>
						</div>
						<div class="col-md-6 col-sm-6 fh5co-gallery_item">
							<div class="fh5co-bg-img fh5co-gallery_big"
								:style="{ backgroundImage: `url(${galleryFourthFiveImages[4]})` }"
								data-trigger="zoomerang"></div>
						</div>
					</div>
				</div>
			</div>
		</div>



		<footer id="fh5co-footer" role="contentinfo" class="fh5co-section">
			<div class="container">
				<div class="row row-pb-md">
					<div class="col-md-4 fh5co-widget">
						<h4>Tasty</h4>
						<p>{{footerDescription}}</p>
					</div>
					<div class="col-md-2 col-md-push-1 fh5co-widget">
						<h4>Links</h4>
						<ul class="fh5co-footer-links">
							<li><a href="#">Home</a></li>
							<li><a href="#">About</a></li>
							<li><a href="#">Menu</a></li>
							<li><a href="#">Gallery</a></li>
						</ul>
					</div>

					<div class="col-md-2 col-md-push-1 fh5co-widget">
						<h4>Categories</h4>
						<ul class="fh5co-footer-links">
							<li><a href="#">Landing Page</a></li>
							<li><a href="#">Real Estate</a></li>
							<li><a href="#">Personal</a></li>
							<li><a href="#">Business</a></li>
							<li><a href="#">e-Commerce</a></li>
						</ul>
					</div>

					<div class="col-md-4 col-md-push-1 fh5co-widget">
						<h4>Contact Information</h4>
						<ul class="fh5co-footer-links">
							<li>
								{{address}}
							</li>
							<li><a href="tel://1234567920">
									{{phoneNumber}}
							</li>
							<li><a>
									{{email}}
								</a></li>
						</ul>
					</div>

				</div>

				<div class="row copyright">
					<div class="col-md-12 text-center">
						<p>
							<small class="block">Designed by <a href="http://freehtml5.co/" target="_blank">
									Ceyinfo Solutions
								</a>
							</small>
						</p>
						<p>
						<ul class="fh5co-social-icons">
							<li><a href="#"><i class="icon-twitter2"></i></a></li>
							<li><a href="#"><i class="icon-facebook2"></i></a></li>
							<li><a href="#"><i class="icon-linkedin2"></i></a></li>
							<li><a href="#"><i class="icon-dribbble2"></i></a></li>
						</ul>
						</p>
					</div>
				</div>

			</div>
		</footer>
	</div>

	<div class="gototop js-top">
		<a href="#" class="js-gotop"><i class="icon-arrow-up22"></i></a>
	</div>

	<!-- jQuery -->
	<script src="js/jquery.min.js"></script>
	<!-- jQuery Easing -->
	<script src="js/jquery.easing.1.3.js"></script>
	<!-- Bootstrap -->
	<script src="js/bootstrap.min.js"></script>
	<!-- Waypoints -->
	<script src="js/jquery.waypoints.min.js"></script>
	<!-- Waypoints -->
	<script src="js/jquery.stellar.min.js"></script>
	<!-- Flexslider -->
	<script src="js/jquery.flexslider-min.js"></script>
	<script src="js/zoomerang.js"></script>
	<!-- Main -->
	<script src="js/main.js"></script>
	<script src="js/vue/index.js"></script>

	<script>
		Zoomerang
			.config({
				maxHeight: 600,
				maxWidth: 900,
				bgColor: '#000',
				bgOpacity: .85
			})
			.listen('[data-trigger="zoomerang"]')
	</script>

</body>

</html>